.netflix-logo{
    position: absolute;
    top: 20px;
    left: 20px;
     background-image: linear-gradient(to right, rgba(15, 15, 15, 0), rgb(8, 8, 8));
}

.netflix-background{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-image: linear-gradient(transparent, rgba(12, 12, 12, 0.973));
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-image: linear-gradient(to bottom, rgba(15, 13, 13, 0.998), rgb(14, 14, 14));
    opacity: 0.9;
    color:white;
    padding: 50px;
    border-radius: 5px;
}

.email-input, .password-input{
    padding: 10px;
    width: 300px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    text-decoration: rgb(63, 66, 66);
    margin: 15px;
    background-color: rgba(63, 59, 59, 0.5);
    border: 1px solid white;
    color:rgb(255, 255, 255);

}
.sign-in{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}
.sign-text{
    color: white;
    font-size: 30px;
    margin-left: -180px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

.p{
    color: white;
    font-size: 14px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sign-up{
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
    margin-left: 2px;
}
.checkbox-label{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.Remember-me{
    width: 15px;
    height: 15px;
    font-weight: bold;
}

.p{
    cursor: pointer;
}

.name-input{
    padding: 10px;
    width: 300px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    text-decoration: rgb(63, 66, 66);
    margin: 15px;
    background-color: rgba(63, 59, 59, 0.5);
    border: 1px solid white;
    color:rgb(255, 255, 255);
}